*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;

}

.container{
    width:100%;
    min-height:100vh;
   
    /* background:linear-gradient(135deg,#9708cc,#43cbff); */
    background-image: url(https://w0.peakpx.com/wallpaper/457/740/HD-wallpaper-marvel-studios-all-posters-thumbnail.jpg);
    background-size: cover;
    padding:10px;
}
.todoapp h2 img{
    width:40px;
    height:40px;
    margin-left: 15px;
}
.todoapp{
    width:100%;
    max-width:540px;
    background:#fff;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todoapp h2{
    color:#2d043c;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline:none;
    background: transparent;
    padding:10px;
}
button{
    border: none;
    outline:none;
    padding:16px 50px;
    background-color:#9708cc;
    color:aliceblue;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
ul li{
    list-style: none;
    font-size:17px;
    padding:12px 8px 12px 50px;
    user-select:none;
    cursor:pointer;
    position: relative;

}
ul li::before{
    content:'';
    position: absolute;
    height:28px;
    width:28px;
    border-radius:30%;
    background-image: url(circle.png);
    background-size: cover;
    background-position: center;
    top:8px;
    left: 8px;
}
ul li.checked{
    text-decoration: line-through;
    color:#555;

}
ul li.checked::before{
    background-image: url(tick.png);
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size:22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: ;

}
ul li span:hover{
    background:#edeef0;
}